events {}

http {
    server {
        listen 80;

        # FRONTEND: 
        location / {
            proxy_pass http://frontend:5173;

            # TODO: remove after deployment
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "Upgrade";
        }

        # BACKEND:
        location /api/ {
            proxy_pass http://backend:8000/api/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr; # forward user's original IP & domain name
            
            # force HTTP/1.1 (which allows connections to stay open) to allow for server sent events
            proxy_http_version 1.1;
            proxy_set_header Connection '';

            # stream data instantly (needed for sever sent events)
            proxy_buffering off;
            proxy_cache off;
            chunked_transfer_encoding on;

            # increase timeout to 5 minutes to prevent Nginx from killing the connection after default 60 seconds
            proxy_read_timeout 300s; 
        }
    }
}